

.cvContainer{

    display: flex;
    justify-content: space-between;
}

.cv-detail-field{

    color: #3C78D8;
    font-weight: bold;
    text-align: right;
}

.cvHeading>h1{

   color: #3C78D8;
   font-size: 2rem;
}

.cvHeading>h3{
    
    color: #3C78D8;
    font-size: 1.7em;
}


.userTextOutput>p{

    margin-top: 2rem;
    font-size: 1.2rem;
}