.experienceContainer {
  display: flex;
  justify-content: space-between;
  color: #3c78d8;
  margin-top: 1.5rem;
}

.experienceTime {
  display: flex;
  align-items: flex-end;
}


.form-submit{
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  gap: 1rem;
}

.skills-section{

  display: flex;
  justify-content: space-between;
}