.personalDetailSection{

    display: flex;
    margin: 0 1.2rem 1.2rem 0;
    height: auto;
    flex-direction: column;
    gap: 2rem;
}

.textInputAreaBox{
    
    width: 92.5%;
    padding: 1rem;
    font-size: 1.6rem;
    outline: none;
    border: none;
    background-color: #EFF2F9;
    border-radius: 6px;

}

.textInputAreaBox:focus{
    color: rgb(87, 85, 85);
    outline: none;
    border-bottom: 3px solid rgb(196, 66, 196);
    background-color: #EFF2F9;
}


.inputexptag{

    width: 6px;
}


.buttons{

    width: 8rem;
    padding: .3rem;
    font-size: 1rem;
    font-weight: bolder;
    margin-right: 4rem;
    align-self: end;
  }