
.userInput{

    width:50vw;
    height: 75vh;
    border-right: 1px solid grey;
}
.userOutput{

    width:50vw;
    height: 75vh;
}

.mainContainer{

    display: flex;
    height: 82vh;
    padding: 22px;
}


footer{

    height: 60px;
    display: flex;
    justify-content: center;
    background-color: grey;
    align-items: center;
}