.userInput {
  max-width: 55%;
  max-height: 90%;
  background-color: white;
  border-right: 1px solid grey;
  padding: 2.2rem;
  overflow: auto;
  margin-top: 60px;
}
.userOutput {
  position: fixed;
  min-width: 42vw;
  max-width: 43vw;
  min-height: 89vh;
  background-color: white;
  overflow-y: auto;
  border-radius: 9px;
  padding: 3rem;
  border: 1px solid grey;
  margin: 2rem;
  right: -1%;
  margin-top: 65px;
}

.mainContainer {
  background-color: cadetblue;
  display: flex;
  overflow-x: hidden;
  justify-content: space-between;
}

.heading {
  position: fixed;
  width: 100%;
  z-index: 10;
}
