
.userInput {
  max-width: 55%;
  max-height: 90%;
  background-color: white;
  border-right: 1px solid grey;
  padding: 2.2rem;
  overflow: auto;
}
.userOutput {
  position: sticky;
  min-width: 42vw;
  max-width: 45vw;
  /* height: 85vh; */
  background-color: white;
  overflow: hidden;
  border-radius: 9px;
  padding: 3rem;
  border: 1px solid grey;
  margin: 2rem;
}

.mainContainer {
  background-color: cadetblue;
  display: flex;

}



