*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


#root>h1{

    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 2rem;
    min-height: 5rem;
    color: blueviolet;
    word-spacing: .7rem;
}